
.App > div {
    margin-right: 50px;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: aquamarine;
}

.is-done {
    opacity: 0.5;
}

.circularProgress {
    position: fixed;
    top: 40%;
    left: 47%;
}

.toolbar {
    position: relative
}

.toolbar__buttons {
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
}
